.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 2rem;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.table_head {
  background-color: #6420c0;
}

.table_head th {
  color: #c0df16;
  font-size: 1.25rem;
  font-weight: 600;
}
